//* =============== Header =============== *//
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  // backdrop filter
  // background: transparent;
  // backdrop-filter: blur(10px);

  .inner {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .logo {
    width: 20px;
    height: 20px;
    background-color: $default-bl-color;
  }

  nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 20px;
    background-color: rgb(0 0 0 / 0.7);
    border-radius: 9999px;
    transform: translate(-50%, -50%);

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      flex-wrap: nowrap;
    }
    li {
      overflow: hidden;

      a {
        position: relative;
      }

      p,
      div {
        font-family: 'diatype';
        font-size: 11px;
        color: $wh-color;
        font-weight: 300;
        line-height: 150%;
        text-transform: uppercase;
        transition: all 0.18s ease-in-out;
      }

      p:last-child {
        position: absolute;
        transform: translateY(0%);
      }

      &.is-hover {
        p,
        div {
          color: $wh-color;
        }
      }
    }
  }

  .menu {
    position: relative;
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    span:first-child {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #121212;
      margin-right: 2px;
    }
    .word {
      height: 16.5px;
      overflow: hidden;
    }
    p &:last-child {
      position: absolute;
    }
    .split-line {
      transition: all 0.18s ease-in-out;
    }
    .split-line div {
      font-family: 'diatype';
      font-size: 11px;
      color: #121212;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
    }
  }
}

//* =============== Content =============== *//
// #smooth-wrapper {
//   overflow: auto !important;
// }
.main {
  background-color: $default-bl-color;
}
.content {
  position: relative;
  background-color: $default-wh-color;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: 50% 100% 0px;
  z-index: 2;

  .inner {
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  // about-section
  .sec-about {
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }

  // work-section
  .sec-work {
    display: flex;

    .typo-wrap {
      display: flex;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      // position: sticky;
      // top: 0;
    }

    .spacer {
      width: 100%;
      height: auto;
      flex: 1 0 0;
    }

    .typo-content {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: center;
      aspect-ratio: 3.6666666666666665 / 1;
      overflow: hidden;

      .text {
        position: relative;
        width: 358px;
        aspect-ratio: 1.1282051282051282 / 1;
        top: 0;
        will-change: transform;

        //   &[name='W'] {
        //     left: 0;
        //   }
        //   &[name='O'] {
        //     left: 77%;
        //   }
        //   &[name='R'] {
        //     left: -26%;
        //   }
        //   &[name='K'] {
        //     right: 0;
        //   }
      }

      .text-container {
        position: absolute;
        width: 358px;
        aspect-ratio: 3.6666666666666665 / 1;
      }
    }

    .card-content {
      width: 100%;

      ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 150px;
      }

      li {
        display: flex;

        &:nth-child(even) {
          justify-content: flex-end;
        }
      }

      .card {
        position: relative;
        width: 45%;
        height: 0;
        padding-bottom: 46.35%;
        // border-radius: 4px;
        overflow: hidden;

        &:hover {
          .img-box img {
            transform: scale(1.05);
          }

          .img-box .overlay {
            opacity: 1;
          }
        }

        a {
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 20px;
          box-sizing: border-box;
        }
        .tit {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          z-index: 2;
        }
        .tit strong,
        .tit strong div {
          font-family: 'diatype';
          font-size: 22px;
          line-height: 140%;
          font-weight: 500;
          color: $wh-color;
        }
        .tit span,
        .tit span div {
          font-family: 'diatype';
          font-size: 14px;
          font-weight: 400;
          line-height: 140%;
          color: $wh-color;
        }

        .img-box {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
            transition: all 0.6s ease-out;
          }

          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.4s ease-out;
          }
        }
      }
    }

    .marquee-text {
      display: flex;
      align-items: center;
      height: 15vh;

      .swiper {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .swiper-wrapper {
        align-items: center;
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        width: auto !important;
      }

      .svg {
        width: 25px;
        height: 25px;
        margin-right: 20px;
      }
      p {
        font-family: 'diatype';
        font-size: 30px;
        font-weight: 400;
        color: $default-bl-color;
        line-height: 150%;
      }
    }
  }
}

//* =============== Footer =============== *//
footer {
  background-color: $default-bl-color;

  .inner {
    width: 100%;
    max-width: 1440px;
    padding: 24px 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: calc(100vh * 0.8);
    justify-content: space-between;
    background-color: $default-bl-color;
    z-index: 1;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detail {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .tit {
    font-family: 'diatype';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $wh-color;
    opacity: 0.6;
  }

  .logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $point-color;
  }

  p,
  span {
    font-family: 'diatype';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $wh-color;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: right;

    li,
    a {
      font-family: 'diatype';
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: $wh-color;
    }
  }

  .backToTop {
    cursor: pointer;
  }

  .f-txt {
  }
}

//* =============== Cursor =============== *//
#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  will-change: transform, top, left;
  padding: 0;
  z-index: 99999;
  opacity: 1;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.cursor_preview {
  position: absolute;
  width: auto !important;
  height: auto !important;
  padding: 10px 20px !important;
  text-align: center;
  color: $default-bl-color;
  background-color: $wh-color !important;
  border-radius: 20px !important;

  &::before {
    content: 'Explore';
    display: inline-block;
    font-size: 14px;
    color: $default-bl-color;
    line-height: 150%;
    font-weight: 500;
    opacity: 1;
    transition: all 0.3s ease;
  }
}

.cursor_point {
  background-color: transparent !important;
  box-shadow: inset 0 0 2px 2px #7e7e7e;
}

.cursor_sendEmail {
  position: absolute;
  width: auto !important;
  height: auto !important;
  padding: 40px 45px !important;
  text-align: center;
  color: $default-bl-color;
  background-color: $wh-color !important;
  border-radius: 50% !important;
  mix-blend-mode: difference;
  box-shadow: none;

  &::before {
    content: 'Send \A Email';
    display: inline-block;
    font-size: 14px;
    color: $default-bl-color;
    line-height: 125%;
    font-weight: 600;
    white-space: pre;
    text-align: center;
    opacity: 1;
    transition: all 0.3s ease;
  }
}

.cursor_nav {
  padding: 6px 20px !important;
  border-radius: 20px !important;
  mix-blend-mode: difference;
  background: #ffffff1a;
  backdrop-filter: invert(100%) contrast(150%);
  -webkit-backdrop-filter: invert(100%) contrast(150%);
}
