@use 'sass:math';

//* =============== Color =============== *//
$default-bl-color: #181818;
// $default-wh-color: #ebebeb;
$default-wh-color: #f5f5f5;
$wh-color: #fff;
$point-color: #ff0046;
$gray-color: #d9d9d9;
$wh-bg-color: #f7f7f7;

//* =============== Breakpoint =============== *//
// $xlarge: 1920;
// $large: 1200;
// $medium: 1024;
// $small: 767;
// $xsmall: 360;
